.topText {
  white-space: nowrap;
  max-width: 720px;
  overflow: hidden;
  display: inline-flex;
  gap: 4px;

  justify-content: flex-end;
}

.leftHidden {
  mask-image: linear-gradient(to right, transparent, white 20px);
  -webkit-mask-image: linear-gradient(to right, transparent, white 20px);
}

.bottomText {
  white-space: nowrap;
  max-width: 720px;
  overflow: hidden;
  display: inline-flex;
  gap: 4px;

  justify-content: flex-start;
}

.rightHidden {
  mask-image: linear-gradient(to left, transparent, white 20px);
  -webkit-mask-image: linear-gradient(to left, transparent, white 20px);
}
