@font-face {
  font-family: "Gabarito";
  src: local("Gabarito-Regular"),
  url("./fonts/gabarito/Gabarito-Regular.ttf") format("truetype");
}

.grecaptcha-badge {
  visibility: hidden;
}

body {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7))
}
